<li class="<%= 'active' if controller?('account_receivables/manado') %>">
  <a href="#ar_manado" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Manado</span> </a>
  <ul id="ar_manado" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      MANADO
    </li>
    <li class="<%= 'active' if controller?('account_receivables/manado/elite_ar') %>">
      <a href="#ar_manado-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="ar_manado-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/elite_ar') && action?('uncollectable_ar') %>">
          <a href="/account_receivables/manado/elite_ar/uncollectable_ar" title="Uncollectable"> <span>Uncollectable</span> </a>
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/elite_ar') && action?('collectable_ar') %>">
          <a href="/account_receivables/manado/elite_ar/collectable_ar" title="Collectable"> <span>Collectable</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('account_receivables/manado/serenity_ar') %>">
      <a href="#ar_manado-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="ar_manado-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/serenity_ar') && action?('uncollectable_ar') %>">
          <a href="/account_receivables/manado/serenity_ar/uncollectable_ar" title="Uncollectable"> <span>Uncollectable</span> </a>
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/serenity_ar') && action?('collectable_ar') %>">
          <a href="/account_receivables/manado/serenity_ar/collectable_ar" title="Collectable"> <span>Collectable</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/lady_ar') %>">
      <a href="#ar_manado-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="ar_manado-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/lady_ar') && action?('uncollectable_ar') %>">
          <a href="/account_receivables/manado/lady_ar/uncollectable_ar" title="Uncollectable"> <span>Uncollectable</span> </a>
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/lady_ar') && action?('collectable_ar') %>">
          <a href="/account_receivables/manado/lady_ar/collectable_ar" title="Collectable"> <span>Collectable</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('account_receivables/manado/royal_ar') %>">
      <a href="#ar_manado-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="ar_manado-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/royal_ar') && action?('uncollectable_ar') %>">
          <a href="/account_receivables/manado/royal_ar/uncollectable_ar" title="Uncollectable"> <span>Uncollectable</span> </a>
        </li>
        <li class="<%= 'active' if controller?('account_receivables/manado/royal_ar') && action?('collectable_ar') %>">
          <a href="/account_receivables/manado/royal_ar/collectable_ar" title="Collectable"> <span>Collectable</span> </a>
        </li>
      </ul>
    </li>
  </ul>
</li>