<div class="row">
  <!-- START dashboard main content-->
  <div class="col-lg-12">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          Success Rate
        </div>
        <div class="panel-body">
          <table id="productivities" class="table table-striped table-hover">
            <thead>
              <tr>
                <th style="width: auto;">NAME</th>
                <th style="width: auto;">BRAND</th>
                <th style="width: auto;">DATE</th>
                <th style="width: auto;">PLAN VISIT CUSTOMER</th>
                <th>VISIT CUSTOMER</th>
                <th>CLOSE DEAL VISIT</th>
                <th>CALL CUSTUMER</th>
                <th>CLOSE DEAL CALL</th>
                <th></th>
              </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
              <% @sales_productivities.each do |sm| %>
              <tr>
                <td><%= find_sales(sm.salesmen_id).nama %></td>
                <td><%= sm.brand %></td>
                <td><%= sm.date.strftime("%d %B %Y") %></td>
                <td><%= sm.npvnc %></td>
                <td><%= sm.nvc %></td>
                <td><%= sm.ncdv %></td>
                <td><%= sm.ncc %></td>
                <td><%= sm.ncdc %></td>
                <td><%= link_to "EDIT", edit_sales_productivity_path(sm) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">if you want to create a new one? click <%= link_to "here", new_sales_productivity_path, class: "mb-sm btn-xs btn btn-primary btn-outline" %></div>
      </div>
    </div>
  </div>
</div>
