<li class="<%= 'active' if controller?('penjualan_salesman') %>">
  <a href="#penjualan_salesman" title="Penjualan Salesman" data-toggle="collapse"> <em class="fa fa-laptop"></em> <span><b>Sales</b></span> </a>
  <ul id="penjualan_salesman" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Penjualan
    </li>
    <li class="<%= 'active' if controller?('penjualan_salesman') && action?('elite') %>">
      <a href="/penjualan_salesman/elite" title="Elite"> <span>Elite</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan_salesman') && action?('lady') %>">
      <a href="/penjualan_salesman/lady" title="Lady"> <span>Lady</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan_salesman') && action?('serenity') %>">
      <a href="/penjualan_salesman/serenity" title="Serenity"> <span>Serenity</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan_salesman') && action?('royal') %>">
      <a href="/penjualan_salesman/royal" title="Royal"> <span>Royal</span> </a>
    </li>
  </ul>
</li>
<li class="<%= 'active' if controller?('marketshare/brand_values') && action?('index') %>">
  <a href="/marketshare/brand_values/" title="Elite"> <em class="fa fa-cubes"></em> <span><b>MarketShare</b></span> </a>
</li>