<li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') %>">
  <a href="#bp-second" title="Regional 2" data-toggle="collapse"> <em class="fa fa-folder-o"></em> <span>Regional 2</span> </a>
  <ul id="bp-second" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Regional 2
    </li>
    <!--
    <li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') && action?('base_price_mattress') %>">
    <a href="/base_prices/second_regional_base_prices/base_price_mattress" title="Recap"> <span>Mattress</span></a>
    </li>
    <li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') && action?('base_price_divan') %>">
    <a href="/base_prices/second_regional_base_prices/base_price_divan" title="Recap"> <span>Divan & Headboard</span></a>
    </li>
    <li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') && action?('base_price_sorong') %>">
    <a href="/base_prices/second_regional_base_prices/base_price_sorong" title="Recap"> <span>Sorong</span></a>
    </li>
    <li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') && action?('base_price_foam') %>">
    <a href="/base_prices/second_regional_base_prices/base_price_foam" title="Recap"> <span>Foam Mattress</span></a>
    </li>
    -->
    <li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') && action?('elite') %>">
      <a href="/base_prices/second_regional_base_prices/elite" title="Recap"> <span>Elite</span></a>
    </li>
    <li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') && action?('lady') %>">
      <a href="/base_prices/second_regional_base_prices/lady" title="Lady"> <span>Lady</span></a>
    </li>
    <li class="<%= 'active' if controller?('base_prices/second_regional_base_prices') && action?('royal') %>">
      <a href="/base_prices/second_regional_base_prices/royal" title="Royal"> <span>Royal</span></a>
    </li>
  </ul>
</li>