<h3>Royal Foam</h3>
<!-- START carousel-->
<div id="carousel-example-captions" data-ride="carousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-captions" data-slide-to="1"></li>
    <li data-target="#carousel-example-captions" data-slide-to="2"></li>
    <li data-target="#carousel-example-captions" data-slide-to="3"></li>
    <li data-target="#carousel-example-captions" data-slide-to="4"></li>
    <li data-target="#carousel-example-captions" data-slide-to="5"></li>
    <li data-target="#carousel-example-captions" data-slide-to="6"></li>
    <li data-target="#carousel-example-captions" data-slide-to="7"></li>
  </ol>
  <div role="listbox" class="carousel-inner">
    <div class="item active">
      <%= image_tag("#{@brand_name} p1.jpg", alt: "GRAND BISBAN") %>
      <div class="carousel-caption">
        <h3>GRAND BISBAN</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p2.jpg", alt: "GRAND CLASSIC") %>
      <div class="carousel-caption">
        <h3>GRAND CLASSIC</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p3.jpg", alt: "GRAND SAND") %>
      <div class="carousel-caption">
        <h3>GRAND SAND</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p4.jpg", alt: "ROYAL CHAMPION") %>
      <div class="carousel-caption">
        <h3>ROYAL CHAMPION</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p5.jpg", alt: "GRAND") %>
      <div class="carousel-caption">
        <h3>GRAND</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p6.jpg", alt: "ROYAL") %>
      <div class="carousel-caption">
        <h3>ROYAL</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p7.jpg", alt: "ROYAL") %>
      <div class="carousel-caption">
        <h3>ROYAL</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p8.jpg", alt: "LIFESTYLE") %>
      <div class="carousel-caption">
        <h3>LIFESTYLE</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p9.jpg", alt: "PEDIC") %>
      <div class="carousel-caption">
        <h3>PEDIC</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p10.jpg", alt: "PIONEER") %>
      <div class="carousel-caption">
        <h3>PIONEER</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p11.jpg", alt: "ROYAL") %>
      <div class="carousel-caption">
        <h3>ROYAL</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p12.jpg", alt: "NEW MEDICARE") %>
      <div class="carousel-caption">
        <h3>NEW MEDICARE</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p13.jpg", alt: "TOP REBOUNDED") %>
      <div class="carousel-caption">
        <h3>TOP REBOUNDED</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("#{@brand_name} p14.jpg", alt: "ROYAL ECONOMY PLUSH TOP") %>
      <div class="carousel-caption">
        <h3>ROYAL ECONOMY PLUSH TOP</h3>
        <p>
          Royal.
        </p>
      </div>
    </div>
  </div>
  <a href="#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control"> <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a>
  <a href="#carousel-example-captions" role="button" data-slide="next" class="right carousel-control"> <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a>
</div>
<!-- END carousel-->