<%= form_for(salesman) do |f| %>
  <% if salesman.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(salesman.errors.count, "error") %> prohibited this salesman from being saved:</h2>
  
    <ul>
      <% salesman.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">ADDRESS NUMBER(JDE)</label>
      <div class="col-lg-10">
        <%= f.text_field "nik", class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">NAME</label>
      <div class="col-lg-10">
        <%= f.text_field "nama", class: 'form-control' %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">BRANCH</label>
      <div class="col-lg-10">
        <%= f.select "branch_id", options_for_select(@area.map {|a| [a.area, a.jde_id]}), class: 'form-control m-b' %>
      </div>
    </div>
  </fieldset>
  
  <div class="actions">
    <%= f.submit f.object.new_record? ? "CREATE" : "UPDATE", class: "btn btn-primary" %>
    <%= link_to 'Back', salesmen_path %>
  </div>
<% end %>
