<div class="content-heading">
  Dashboard Active Customers <%= @branch %>
</div>

<div class="row">
  <div class="col-lg-12">
    <!-- START content-->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center">
            Active Customers REPORT <%= 1.month.ago.strftime('%B') %>
          </div>
          <div class="panel-body">
            <table id="datatable_city" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th align="center">Brand</th>
                  <th align="center">New</th>
                  <th align="center">Active <%= 2.month.ago.strftime('%B') %></th>
                  <th align="center">InActive <%= 2.month.ago.strftime('%B') %></th>
                  <th align="center">Active <%= 1.month.ago.strftime('%B') %></th>
                  <th align="center">InActive <%= 1.month.ago.strftime('%B') %></th>
                  <th align="center">TOTAL</th>
                  <th align="center">Growth</th>
                  <th align="center">G_active</th>
                  <th align="center">G_inactive</th>
                  <th>
                </tr>
              </thead>
              <tbody>
                <% @customer.each do |cus| %>
                <tr class="gradeX">
                  <td align="center"><%= cus.brand %></td>
                  <td align="center"><%= cus.new_customer %></td>
                  <td align="center"><%= cus.active_1month %></td>
                  <td align="center"><%= cus.inactive_1month %></td>
                  <td align="center"><%= cus.active_customer %></td>
                  <td align="center"><%= cus.inactive_customer %></td>
                  <td align="center"><%= cus.total %></td>
                  <td align="center" class="<%= coloring(cus.growth_customer) %>"><b><%= cpercent(cus.growth_customer.abs) %></b></td>
                  <td align="center" class="<%= coloring(cus.growth_active) %>"><b><%= cpercent(cus.growth_active.abs) %></b></td>
                  <td align="center" class="<%= coloring(cus.growth_inactive) %>"><b><%= cpercent(cus.growth_inactive.abs) %></b></td>
                  <td><%= link_to "See Detail", '/penjualan/bandung/bandung_customers/customer_active'+'?branch='+cus.area_id.to_s+'&brand='+cus.brand %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <tfoot>
              <ul>
                <li>Total =  Jumlah Customer dari Januari 2018</li>
                <li>Growth = New Customer / Total</li>
                <li>G_active = Jumlah Customer Aktif (<%= 1.month.ago.strftime('%B') %> - <%= 2.month.ago.strftime('%B') %> / Total)</li>
                <li>G_inactive = Jumlah Customer Tidak Aktif (<%= 1.month.ago.strftime('%B') %> - <%= 2.month.ago.strftime('%B') %> / Total)</li>
              </ul>
            </tfoot>
          </div>
        </div>
      </div>

      <% if params[:branch].present? %>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align: center">
            List <%= params[:brand] %> Customers REPORT
          </div>
          <div class="panel-body">
            <table id="datatable_customer" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Brand</th>
                  <th>Last Invoice</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% @list_customers.each do |cus| %>
                <tr class="gradeX">
                  <td><%= cus.customer %></td>
                  <td><%= cus.brand %></td>
                  <td><%= cus.last_invoice.strftime('%d %B %Y') %></td>
                  <td><%= cus.cust_status %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% end %>

    </div>
    <!-- END content-->
  </div>
</div>