<div class="row">
  <!-- START dashboard main content-->
  <div class="col-lg-12">
    <!-- START chart-->
    <div class="row">
      <div class="col-lg-12">
        <div id="panelChart5" class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              MARKETSHARE <%= @branch %> <%= @brand_name %>
            </div>
          </div>
          <div class="panel-body">
            <div id="ms-pie" style="width:550px;height:400px;margin:0 auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <!-- START content-->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-warning">
          <div class="panel-heading" style="text-align: center">
            Weekly Marketshare
          </div>
          <div class="panel-body">
            <table id="datatable_city" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Area</th>
                  <th>Last Week</th>
                  <th>This Week</th>
                  <th>Potential</th>
                  <th>% Market</th>
                  <th>% Grow</th>
                </tr>
              </thead>
              <tbody>
                <% @area_potent.each do |ap| %>
                <tr class="gradeX">
                  <td><%= ap.area %></td>
                  <td><%= currency(ap.w1) %></td>
                  <td><%= currency(ap.w2) %></td>
                  <td><%= currency(ap.potent.present? ? ap.potent/4 : 0) %></td>
                  <td class="<%= coloring(ap.market) %>"><%= ap.market.nil? ? 0 : cpercent(ap.market.abs) %></td>
                  <td class="<%= coloring(ap.grow) %>"><%= ap.grow.nil? ? 0 : cpercent(ap.grow.abs) %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            Last Week: <%= 1.week.ago.beginning_of_week.to_date.strftime('%d %B %Y') %> - <%= 1.week.ago.end_of_week.to_date.strftime('%d %B %Y') %>
            <br />
            This Week: <%= Date.today.beginning_of_week.to_date.strftime('%d %B %Y') %> - <%= Date.today.end_of_week.to_date.strftime('%d %B %Y') %>
          </div>
        </div>
      </div>
    </div>
    <!-- END content-->
  </div>
</div>