<div class="panel panel-default">
  <div class="panel-heading">
    Data Source Summary Item Ledger
  </div>
  <div class="panel-body">
    <%= form_tag(request.fullpath, {method: :get, :class => "form-inline"}) do %>
    <div class="form-group">
      Branch:
    </div>
    <div class="form-group">
      <%= select_tag "areas", options_from_collection_for_select(@areas, "id", "area", params[:areas]), {class: "form-control"} %>
    </div>
    <div class="form-group">
      Brand:
    </div>
    <div class="form-group">
      <%= select_tag "brand", options_from_collection_for_select(@brand, "name", "name"), {class: "form-control"} %>
    </div>
    <div class="form-group">
      From:
    </div>
    <div id="datems2" class="input-group date" style="size: 10px;">
      <%= text_field_tag "start_date", (params[:start_date].present? ? params[:start_date].to_date.strftime("%F") : Date.today), class: 'form-control' %>
      <span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
    </div>
    <div class="form-group">
      To:
    </div>
    <div id="salesto" class="input-group date" style="size: 10px;">
      <%= text_field_tag "end_date", (params[:end_date].present? ? params[:end_date].to_date.strftime("%F") : Date.today), class: 'form-control' %>
      <span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
    </div>
    <%= button_tag 'Export', value: 'xlsx', name: 'format', class: "btn btn-info" %>
    <% end %>
  </div>
</div>