<!-- START DATATABLE 1 -->
<!-- START content-->

<div class="row">
  <!-- START dashboard main content-->
  <div class="col-lg-12" style="margin-bottom: 10px;">
    <div class="row">
      <div class="col-lg-12">
        <%= link_to 'New Marketshare', new_marketshare_brand_value_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- START dashboard main content-->
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-warning">
          <div class="panel-heading" style="text-align: center">
            Marketshare
          </div>
          <div class="panel-body">
            <table id="index-marketshare-brands" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Brand</th>
                  <th>Area</th>
                  <th>Month</th>
                  <th>Year</th>
                  <th>Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @marketshare_brand_values.each do |mb| %>
                <tr>
                  <td><%= mb.customer.name %></td>
                  <td><%= mb.brand.name %></td>
                  <td><%= mb.area.area %></td>
                  <td><%= Date::MONTHNAMES[mb.month] %></td>
                  <td><%= mb.year %></td>
                  <td><%= currency(mb.amount) %></td>
                  <td><%= link_to 'Delete', marketshare_brand_value_path(mb), method: :delete, 
                  data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>