<li class="<%= 'active' if controller?('penjualan/tangerang') %>">
  <a href="#tangerang" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Jakarta</span> </a>
  <ul id="tangerang" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Jakarta
    </li>
    <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_elites') %>">
      <a href="#tangerang-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="tangerang-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_elites') && action?('daily') %>">
          <a href="/penjualan/tangerang/tangerang_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_elites') && action?('weekly') %>">
          <a href="/penjualan/tangerang/tangerang_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_elites') && action?('monthly') %>">
          <a href="/penjualan/tangerang/tangerang_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/tangerang/tangerang_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_elites') && action?('success_rate') %>">
          <a href="/penjualan/tangerang/tangerang_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_elites') && action?('yearly') %>">
                  <a href="/penjualan/tangerang/tangerang_elites" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_serenity') %>">
      <a href="#tangerang-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="tangerang-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_serenity') && action?('daily') %>">
          <a href="/penjualan/tangerang/tangerang_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_serenity') && action?('weekly') %>">
          <a href="/penjualan/tangerang/tangerang_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_serenity') && action?('monthly') %>">
          <a href="/penjualan/tangerang/tangerang_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/tangerang/tangerang_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_serenity') && action?('success_rate') %>">
          <a href="/penjualan/tangerang/tangerang_serenity/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_serenity') && action?('yearly') %>">
                  <a href="/penjualan/tangerang/serenity" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_lady') %>">
      <a href="#tangerang-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="tangerang-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_lady') && action?('daily') %>">
          <a href="/penjualan/tangerang/tangerang_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_lady') && action?('weekly') %>">
          <a href="/penjualan/tangerang/tangerang_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_lady') && action?('monthly') %>">
          <a href="/penjualan/tangerang/tangerang_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/tangerang/tangerang_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_lady') && action?('success_rate') %>">
          <a href="/penjualan/tangerang/tangerang_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_lady') && action?('yearly') %>">
                  <a href="/penjualan/tangerang/tangerang_lady" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_royal') %>">
      <a href="#tangerang-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="tangerang-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_royal') && action?('daily') %>">
          <a href="/penjualan/tangerang/tangerang_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_royal') && action?('weekly') %>">
          <a href="/penjualan/tangerang/tangerang_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_royal') && action?('monthly') %>">
          <a href="/penjualan/tangerang/tangerang_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/tangerang/tangerang_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_royal') && action?('success_rate') %>">
          <a href="/penjualan/tangerang/tangerang_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/tangerang/royal') && action?('yearly') %>">
                  <a href="/penjualan/tangerang/royal" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/tangerang/tangerang_customers') && action?('customer') %>">
      <a href="/penjualan/tangerang/tangerang_customers/customer" title="Customer"> <em class="icon-people"></em> <span>Customer</span> </a>
    </li>
  </ul>
</li>