<li class="<%= 'active' if controller?('penjualan/yogya') %>">
  <a href="#yogya" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Yogyakarta</span> </a>
  <ul id="yogya" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      YOGYAKARTA
    </li>
    <li class="<%= 'active' if controller?('penjualan/yogya/yogya_elites') %>">
      <a href="#yogya-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="yogya-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_elites') && action?('daily') %>">
          <a href="/penjualan/yogya/yogya_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_elites') && action?('weekly') %>">
          <a href="/penjualan/yogya/yogya_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_elites') && action?('monthly') %>">
          <a href="/penjualan/yogya/yogya_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/yogya/yogya_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_elites') && action?('success_rate') %>">
          <a href="/penjualan/yogya/yogya_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_elites') && action?('yearly') %>">
        <a href="/penjualan/yogya/yogya_elites" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/yogya/yogya_serenity') %>">
      <a href="#yogya-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="yogya-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_serenity') && action?('daily') %>">
          <a href="/penjualan/yogya/yogya_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_serenity') && action?('weekly') %>">
          <a href="/penjualan/yogya/yogya_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_serenity') && action?('monthly') %>">
          <a href="/penjualan/yogya/yogya_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/yogya/yogya_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_serenity') && action?('success_rate') %>">
          <a href="/penjualan/yogya/yogya_serenity/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_serenity') && action?('yearly') %>">
        <a href="/penjualan/yogya/serenity" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/yogya/yogya_lady') %>">
      <a href="#yogya-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="yogya-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_lady') && action?('daily') %>">
          <a href="/penjualan/yogya/yogya_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_lady') && action?('weekly') %>">
          <a href="/penjualan/yogya/yogya_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_lady') && action?('monthly') %>">
          <a href="/penjualan/yogya/yogya_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/yogya/yogya_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_lady') && action?('success_rate') %>">
          <a href="/penjualan/yogya/yogya_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_lady') && action?('yearly') %>">
        <a href="/penjualan/yogya/yogya_lady" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/yogya/yogya_royal') %>">
      <a href="#yogya-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="yogya-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_royal') && action?('daily') %>">
          <a href="/penjualan/yogya/yogya_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_royal') && action?('weekly') %>">
          <a href="/penjualan/yogya/yogya_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_royal') && action?('monthly') %>">
          <a href="/penjualan/yogya/yogya_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/yogya/yogya_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/yogya/yogya_royal') && action?('success_rate') %>">
          <a href="/penjualan/yogya/yogya_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/yogya/royal') && action?('yearly') %>">
        <a href="/penjualan/yogya/royal" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
  </ul>
</li>