<li class="<%= 'active' if controller?('penjualan/bali') %>">
  <a href="#bali" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Bali</span> </a>
  <ul id="bali" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Bali
    </li>
    <li class="<%= 'active' if controller?('penjualan/bali/bali_elites') %>">
      <a href="#bali-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="bali-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_elites') && action?('daily') %>">
          <a href="/penjualan/bali/bali_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_elites') && action?('weekly') %>">
          <a href="/penjualan/bali/bali_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_elites') && action?('monthly') %>">
          <a href="/penjualan/bali/bali_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bali/bali_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/bali/bali_elites') && action?('yearly') %>">
                  <a href="/penjualan/bali/bali_elites" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/bali/bali_serenity') %>">
      <a href="#bali-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="bali-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_serenity') && action?('daily') %>">
          <a href="/penjualan/bali/bali_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_serenity') && action?('weekly') %>">
          <a href="/penjualan/bali/bali_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_serenity') && action?('monthly') %>">
          <a href="/penjualan/bali/bali_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bali/bali_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/bali/bali_serenity') && action?('yearly') %>">
                  <a href="/penjualan/bali/serenity" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/bali/bali_lady') %>">
      <a href="#bali-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="bali-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_lady') && action?('daily') %>">
          <a href="/penjualan/bali/bali_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_lady') && action?('weekly') %>">
          <a href="/penjualan/bali/bali_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_lady') && action?('monthly') %>">
          <a href="/penjualan/bali/bali_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bali/bali_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/bali/bali_lady') && action?('yearly') %>">
                  <a href="/penjualan/bali/bali_lady" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/bali/bali_royal') %>">
      <a href="#bali-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="bali-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_royal') && action?('daily') %>">
          <a href="/penjualan/bali/bali_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_royal') && action?('weekly') %>">
          <a href="/penjualan/bali/bali_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_royal') && action?('monthly') %>">
          <a href="/penjualan/bali/bali_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bali/bali_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bali/bali_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/bali/royal') && action?('yearly') %>">
                  <a href="/penjualan/bali/royal" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
  </ul>
</li>