<li class="<%= 'active' if controller?('penjualan/makasar') %>">
  <a href="#makasar" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Makasar</span> </a>
  <ul id="makasar" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Makasar
    </li>
    <li class="<%= 'active' if controller?('penjualan/makasar/makasar_customers') && action?('customer') %>">
      <a href="/penjualan/makasar/makasar_customers/customer" title="Customer"> <em class="icon-people"></em> <span>Customer</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/makasar/makasar_recaps') && action?('recap') %>">
      <a href="/penjualan/makasar/makasar_recaps/recap" title="Recap"> <em class="icon-people"></em> <span>Recap</span></a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/makasar/makasar_elites') %>">
      <a href="#makasar-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="makasar-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_elites') && action?('daily') %>">
          <a href="/penjualan/makasar/makasar_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_elites') && action?('weekly') %>">
          <a href="/penjualan/makasar/makasar_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_elites') && action?('monthly') %>">
          <a href="/penjualan/makasar/makasar_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/makasar/makasar_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_elites') && action?('success_rate') %>">
          <a href="/penjualan/makasar/makasar_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_elites') && action?('yearly') %>">
                  <a href="/penjualan/makasar/makasar_elites" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/makasar/makasar_serenity') %>">
      <a href="#makasar-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="makasar-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_serenity') && action?('daily') %>">
          <a href="/penjualan/makasar/makasar_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_serenity') && action?('weekly') %>">
          <a href="/penjualan/makasar/makasar_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_serenity') && action?('monthly') %>">
          <a href="/penjualan/makasar/makasar_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/makasar/makasar_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_serenity') && action?('success_rate') %>">
          <a href="/penjualan/makasar/makasar_serenity/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_serenity') && action?('yearly') %>">
                  <a href="/penjualan/makasar/serenity" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/makasar/makasar_lady') %>">
      <a href="#makasar-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="makasar-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_lady') && action?('daily') %>">
          <a href="/penjualan/makasar/makasar_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_lady') && action?('weekly') %>">
          <a href="/penjualan/makasar/makasar_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_lady') && action?('monthly') %>">
          <a href="/penjualan/makasar/makasar_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/makasar/makasar_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_lady') && action?('success_rate') %>">
          <a href="/penjualan/makasar/makasar_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_lady') && action?('yearly') %>">
                  <a href="/penjualan/makasar/makasar_lady" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/makasar/makasar_royal') %>">
      <a href="#makasar-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="makasar-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_royal') && action?('daily') %>">
          <a href="/penjualan/makasar/makasar_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_royal') && action?('weekly') %>">
          <a href="/penjualan/makasar/makasar_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_royal') && action?('monthly') %>">
          <a href="/penjualan/makasar/makasar_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/makasar/makasar_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/makasar/makasar_royal') && action?('success_rate') %>">
          <a href="/penjualan/makasar/makasar_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/makasar/royal') && action?('yearly') %>">
                  <a href="/penjualan/makasar/royal" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
  </ul>
</li>