<li class="<%= 'active' if controller?('penjualan/cirebon') %>">
  <a href="#cirebon" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Cirebon</span> </a>
  <ul id="cirebon" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Cirebon
    </li>
    <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_elites') %>">
      <a href="#cirebon-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="cirebon-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_elites') && action?('daily') %>">
          <a href="/penjualan/cirebon/cirebon_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_elites') && action?('weekly') %>">
          <a href="/penjualan/cirebon/cirebon_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_elites') && action?('monthly') %>">
          <a href="/penjualan/cirebon/cirebon_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/cirebon/cirebon_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_elites') && action?('success_rate') %>">
          <a href="/penjualan/cirebon/cirebon_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_elites') && action?('yearly') %>">
          <a href="/penjualan/cirebon/cirebon_elites" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_serenity') %>">
      <a href="#cirebon-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="cirebon-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_serenity') && action?('daily') %>">
          <a href="/penjualan/cirebon/cirebon_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_serenity') && action?('weekly') %>">
          <a href="/penjualan/cirebon/cirebon_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_serenity') && action?('monthly') %>">
          <a href="/penjualan/cirebon/cirebon_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/cirebon/cirebon_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_serenity') && action?('success_rate') %>">
          <a href="/penjualan/cirebon/cirebon_serenity/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_serenity') && action?('yearly') %>">
          <a href="/penjualan/cirebon/serenity" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_lady') %>">
      <a href="#cirebon-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="cirebon-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_lady') && action?('daily') %>">
          <a href="/penjualan/cirebon/cirebon_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_lady') && action?('weekly') %>">
          <a href="/penjualan/cirebon/cirebon_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_lady') && action?('monthly') %>">
          <a href="/penjualan/cirebon/cirebon_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/cirebon/cirebon_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_lady') && action?('success_rate') %>">
          <a href="/penjualan/cirebon/cirebon_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_lady') && action?('yearly') %>">
          <a href="/penjualan/cirebon/cirebon_lady" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_royal') %>">
      <a href="#cirebon-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="cirebon-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_royal') && action?('daily') %>">
          <a href="/penjualan/cirebon/cirebon_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_royal') && action?('weekly') %>">
          <a href="/penjualan/cirebon/cirebon_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_royal') && action?('monthly') %>">
          <a href="/penjualan/cirebon/cirebon_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/cirebon/cirebon_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/cirebon/cirebon_royal') && action?('success_rate') %>">
          <a href="/penjualan/cirebon/cirebon_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/cirebon/royal') && action?('yearly') %>">
          <a href="/penjualan/cirebon/royal" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
  </ul>
</li>