<li class="<%= 'active' if controller?('penjualan/semarang') %>">
  <a href="#semarang" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Semarang</span> </a>
  <ul id="semarang" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      SEMARANG
    </li>
    <li class="<%= 'active' if controller?('penjualan/semarang/semarang_elites') %>">
      <a href="#semarang-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="semarang-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_elites') && action?('daily') %>">
          <a href="/penjualan/semarang/semarang_elites/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_elites') && action?('weekly') %>">
          <a href="/penjualan/semarang/semarang_elites/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_elites') && action?('monthly') %>">
          <a href="/penjualan/semarang/semarang_elites/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_elites') && action?('yearly') %>">
                  <a href="/penjualan/semarang/semarang_elites" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/semarang/semarang_serenity') %>">
      <a href="#semarang-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="semarang-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_serenity') && action?('daily') %>">
          <a href="/penjualan/semarang/semarang_serenity/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_serenity') && action?('weekly') %>">
          <a href="/penjualan/semarang/semarang_serenity/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_serenity') && action?('monthly') %>">
          <a href="/penjualan/semarang/semarang_serenity/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_serenity') && action?('yearly') %>">
                  <a href="/penjualan/semarang/serenity" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/semarang/semarang_lady') %>">
      <a href="#semarang-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="semarang-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_lady') && action?('daily') %>">
          <a href="/penjualan/semarang/semarang_lady/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_lady') && action?('weekly') %>">
          <a href="/penjualan/semarang/semarang_lady/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_lady') && action?('monthly') %>">
          <a href="/penjualan/semarang/semarang_lady/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_lady') && action?('yearly') %>">
                  <a href="/penjualan/semarang/semarang_lady" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/semarang/semarang_royal') %>">
      <a href="#semarang-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="semarang-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_royal') && action?('daily') %>">
          <a href="/penjualan/semarang/semarang_royal/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_royal') && action?('weekly') %>">
          <a href="/penjualan/semarang/semarang_royal/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/semarang/semarang_royal') && action?('monthly') %>">
          <a href="/penjualan/semarang/semarang_royal/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
       <!--
        <li class="<%= 'active' if controller?('penjualan/semarang/royal') && action?('yearly') %>">
                 <a href="/penjualan/semarang/royal" title="Tahunan"> <span>Tahunan</span> </a>
               </li>-->
       
      </ul>
    </li>
  </ul>
</li>