<li class="<%= 'active' if controller?('penjualan/bandung') %>">
  <a href="#bandung" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Bandung</span> </a>
  <ul id="bandung" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      BANDUNG
    </li>
    <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') %>">
      <a href="#bandung-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="bandung-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') && action?('daily') %>">
          <a href="/penjualan/bandung/bandung_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') && action?('weekly') %>">
          <a href="/penjualan/bandung/bandung_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') && action?('monthly') %>">
          <a href="/penjualan/bandung/bandung_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bandung/bandung_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') && action?('success_rate') %>">
          <a href="/penjualan/bandung/bandung_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') && action?('yearly') %>">
                  <a href="/penjualan/bandung/bandung_elites" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/bandung/bandung_serenity') %>">
      <a href="#bandung-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="bandung-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_serenity') && action?('daily') %>">
          <a href="/penjualan/bandung/bandung_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_serenity') && action?('weekly') %>">
          <a href="/penjualan/bandung/bandung_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_serenity') && action?('monthly') %>">
          <a href="/penjualan/bandung/bandung_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bandung/bandung_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_serenity') && action?('success_rate') %>">
          <a href="/penjualan/bandung/bandung_serenity/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_serenity') && action?('yearly') %>">
                  <a href="/penjualan/bandung/serenity" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/bandung/bandung_lady') %>">
      <a href="#bandung-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="bandung-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_lady') && action?('daily') %>">
          <a href="/penjualan/bandung/bandung_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_lady') && action?('weekly') %>">
          <a href="/penjualan/bandung/bandung_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_lady') && action?('monthly') %>">
          <a href="/penjualan/bandung/bandung_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bandung/bandung_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_lady') && action?('success_rate') %>">
          <a href="/penjualan/bandung/bandung_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_lady') && action?('yearly') %>">
                  <a href="/penjualan/bandung/bandung_lady" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/bandung/bandung_royal') %>">
      <a href="#bandung-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="bandung-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_royal') && action?('daily') %>">
          <a href="/penjualan/bandung/bandung_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_royal') && action?('weekly') %>">
          <a href="/penjualan/bandung/bandung_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_royal') && action?('monthly') %>">
          <a href="/penjualan/bandung/bandung_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/bandung/bandung_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_royal') && action?('success_rate') %>">
          <a href="/penjualan/bandung/bandung_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
       <!--
        <li class="<%= 'active' if controller?('penjualan/bandung/royal') && action?('yearly') %>">
                 <a href="/penjualan/bandung/royal" title="Tahunan"> <span>Tahunan</span> </a>
               </li>-->
       
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/bandung/bandung_customers') && action?('customer') %>">
      <a href="/penjualan/bandung/bandung_customers/customer" title="Customer"> <em class="icon-people"></em> <span>Customer</span> </a>
    </li>
  </ul>
</li>