<li class="<%= 'active' if controller?('penjualan/nasional') %>">
  <a href="#nasional" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Nasional</span> </a>
  <ul id="nasional" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      NASIONAL
    </li>
    <li class="<%= 'active' if controller?('penjualan/nasional/nasional_elites') %>">
      <a href="#nasional-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="nasional-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_elites') && action?('weekly') %>">
          <a href="/penjualan/nasional/nasional_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_elites') && action?('daily') %>">
          <a href="/penjualan/nasional/nasional_elites/daily" title="Daily"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_elites') && action?('customer_decrease') %>">
          <a href="/penjualan/nasional/nasional_elites/customer_decrease" title="Csu"> <span>Customer Decre</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/nasional/nasional_serenity') %>">
      <a href="#nasional-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="nasional-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_serenity') && action?('weekly') %>">
          <a href="/penjualan/nasional/nasional_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_serenity') && action?('daily') %>">
          <a href="/penjualan/nasional/nasional_serenity/daily" title="Daily"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_serenity') && action?('customer_decrease') %>">
          <a href="/penjualan/nasional/nasional_serenity/customer_decrease" title="Csu"> <span>Customer Decre</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/nasional/nasional_lady') %>">
      <a href="#nasional-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="nasional-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_lady') && action?('weekly') %>">
          <a href="/penjualan/nasional/nasional_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_lady') && action?('daily') %>">
          <a href="/penjualan/nasional/nasional_lady/daily" title="Daily"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_lady') && action?('customer_decrease') %>">
          <a href="/penjualan/nasional/nasional_lady/customer_decrease" title="Csu"> <span>Customer Decre</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/nasional/nasional_royal') %>">
      <a href="#nasional-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="nasional-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_royal') && action?('weekly') %>">
          <a href="/penjualan/nasional/nasional_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_royal') && action?('daily') %>">
          <a href="/penjualan/nasional/nasional_royal/daily" title="Daily"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_royal') && action?('customer_decrease') %>">
          <a href="/penjualan/nasional/nasional_royal/customer_decrease" title="Csu"> <span>Customer Decre</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/nasional/nasional_tote') %>">
      <a href="#nasional-tote" title="Tote" data-toggle="collapse"> <em class="icon-chart"></em> <span>Tote</span> </a>
      <ul id="nasional-tote" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Tote
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_tote') && action?('weekly') %>">
          <a href="/penjualan/nasional/nasional_tote/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_royal') && action?('daily') %>">
          <a href="/penjualan/nasional/nasional_tote/daily" title="Daily"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/nasional/nasional_royal') && action?('customer_decrease') %>">
          <a href="/penjualan/nasional/nasional_tote/customer_decrease" title="Csu"> <span>Customer Decre</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/nasional/nasional_customers') && action?('national_customer') %>">
      <a href="/penjualan/nasional/nasional_customers/national_customer" title="Customer"> <em class="icon-people"></em> <span>National Customer</span> </a>
    </li>
  </ul>
</li>