<li class="<%= 'active' if controller?('penjualan/manado') %>">
  <a href="#manado" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Manado</span> </a>
  <ul id="manado" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Manado
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/manado_customers') && action?('customer') %>">
      <a href="/penjualan/manado/manado_customers/customer" title="Customer"> <em class="icon-people"></em> <span>Customer</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/manado_customers') && action?('customer_active') %>">
      <a href="/penjualan/manado/manado_customers/customer_active" title="Customer"> <em class="icon-people"></em> <span>Customer Active</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/manado_recaps') && action?('recap') %>">
      <a href="/penjualan/manado/manado_recaps/recap" title="Customer"> <em class="icon-people"></em> <span>Recap</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') %>">
      <a href="#manado-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="manado-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') && action?('daily') %>">
          <a href="/penjualan/manado/manado_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') && action?('weekly') %>">
          <a href="/penjualan/manado/manado_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') && action?('monthly') %>">
          <a href="/penjualan/manado/manado_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/manado/manado_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') && action?('success_rate') %>">
          <a href="/penjualan/manado/manado_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') && action?('marketshare') %>">
          <a href="/penjualan/manado/manado_elites/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/manado/manado_elites') && action?('yearly') %>">
        <a href="/penjualan/manado/manado_elites" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') %>">
      <a href="#manado-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="manado-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') && action?('daily') %>">
          <a href="/penjualan/manado/manado_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') && action?('weekly') %>">
          <a href="/penjualan/manado/manado_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') && action?('monthly') %>">
          <a href="/penjualan/manado/manado_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/manado/manado_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') && action?('success_rate') %>">
          <a href="/penjualan/manado/manado_serenity/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') && action?('marketshare') %>">
          <a href="/penjualan/manado/manado_serenity/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/manado/manado_serenity') && action?('yearly') %>">
        <a href="/penjualan/manado/serenity" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') %>">
      <a href="#manado-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="manado-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') && action?('daily') %>">
          <a href="/penjualan/manado/manado_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') && action?('weekly') %>">
          <a href="/penjualan/manado/manado_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') && action?('monthly') %>">
          <a href="/penjualan/manado/manado_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/manado/manado_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') && action?('success_rate') %>">
          <a href="/penjualan/manado/manado_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') && action?('marketshare') %>">
          <a href="/penjualan/manado/manado_lady/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/manado/manado_lady') && action?('yearly') %>">
        <a href="/penjualan/manado/manado_lady" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/manado/manado_royal') %>">
      <a href="#manado-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="manado-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_royal') && action?('daily') %>">
          <a href="/penjualan/manado/manado_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_royal') && action?('weekly') %>">
          <a href="/penjualan/manado/manado_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_royal') && action?('monthly') %>">
          <a href="/penjualan/manado/manado_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/manado/manado_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_royal') && action?('success_rate') %>">
          <a href="/penjualan/manado/manado_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/manado/manado_royal') && action?('marketshare') %>">
          <a href="/penjualan/manado/manado_royal/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/manado/royal') && action?('yearly') %>">
        <a href="/penjualan/manado/royal" title="Tahunan"> <span>Tahunan</span> </a>
        </li>-->

      </ul>
    </li>
  </ul>
</li>