<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav class="sidebar" data-sidebar-anyclick-close="">
    <!-- START sidebar nav-->
    <ul class="nav">
      <!-- START user info-->
      <li class="has-user-block">
        <div id="user-block" class="collapse">
          <div class="item user-block">
            <!-- User picture-->
            <div class="user-block-picture">
              <div class="user-block-status">
                <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                <div class="circle circle-success circle-lg"></div>
              </div>
            </div>
            <!-- Name and Job-->
            <div class="user-block-info">
              <span class="user-block-name">Hello, <%= current_user.username %></span>
              <span class="user-block-role"><%= current_user.position.upcase %></span>
            </div>
          </div>
        </div>
      </li>
      <!-- END user info-->
      <li class="nav-heading"></li>
      <!-- SA Project except sales-->
      <li class="<%= 'active' if controller?('base_prices') %>">
        <a href="#base_prices" title="base_prices" data-toggle="collapse"> <em class="fa fa-money"></em> <span><b>Base Prices</b></span> </a>
        <ul id="base_prices" class="nav sidebar-subnav collapse">
          <li class="sidebar-subnav-header">
            Base Prices
          </li>
          <%= render "layouts/partials/base_prices/first_regional" if reg1(current_user, 1) %>
          <%= render "layouts/partials/base_prices/second_regional"  if reg1(current_user, 2) %>
          <%= render "layouts/partials/base_prices/third_regional"  if reg1(current_user, 3) %>
          <%= render "layouts/partials/base_prices/fourth_regional"  if reg1(current_user, 4) %>
        </ul>
      </li>
      <% if current_user.position != 'sales' %>
      <li class="<%= 'active' if controller?('order') %>">
        <a href="#order" title="Order" data-toggle="collapse"> <em class="fa fa-laptop"></em> <span><b>Order</b></span> </a>
        <ul id="order" class="nav sidebar-subnav collapse">
          <li class="sidebar-subnav-header">
            Order
          </li>
          <li class="<%= 'active' if controller?('order') %>">
            <a href="#retail_order" title="Retail Order" data-toggle="collapse"> <em class="icon-people"></em> <span>Retail</span> </a>
            <ul id="retail_order" class="nav sidebar-subnav collapse">
              <li class="sidebar-subnav-header">
                Retail
              </li>
              <%= render "layouts/partials/order/order_bandung" if branch(current_user, 2) %>
              <%= render "layouts/partials/order/order_cirebon" if branch(current_user, 9) %>
              <%= render "layouts/partials/order/order_tangerang" if branch(current_user, 23) %>
              <%= render "layouts/partials/order/order_semarang" if branch(current_user, 8) %>
              <%= render "layouts/partials/order/order_yogya" if branch(current_user, 10) %>
              <%= render "layouts/partials/order/order_surabaya" if branch(current_user, 7) %>
              <%= render "layouts/partials/order/order_bali" if branch(current_user, 4) %>
              <%= render "layouts/partials/order/order_makasar" if branch(current_user, 19) %>
              <%= render "layouts/partials/order/order_palembang" if branch(current_user, 11) %>
              <%= render "layouts/partials/order/order_lampung" if branch(current_user, 13) %>
              <%= render "layouts/partials/order/order_medan" if branch(current_user, 5) %>
              <%= render "layouts/partials/order/order_pekanbaru" if branch(current_user, 20) %>
            </ul>
          </li>
        </ul>
      </li>
      <li class="<%= 'active' if controller?('penjualan') %>">
        <a href="#penjualan" title="Penjualan" data-toggle="collapse"> <em class="fa fa-area-chart"></em> <span><b>Sales</b></span> </a>
        <ul id="penjualan" class="nav sidebar-subnav collapse">
          <li class="sidebar-subnav-header">
            Penjualan
          </li>
          <li class="<%= 'active' if controller?('penjualan') %>">
            <a href="#retail" title="Penjualan" data-toggle="collapse"> <em class="icon-people"></em> <span>Retail</span> </a>
            <ul id="retail" class="nav sidebar-subnav collapse">
              <li class="sidebar-subnav-header">
                Retail
              </li>
              <%= render "layouts/partials/sidebar_nasional" if branch(current_user, nil) %>
              <%= render "layouts/partials/sidebar_bandung" if branch(current_user, 2) %>
              <%= render "layouts/partials/sidebar_cirebon" if branch(current_user, 9) %>
              <%= render "layouts/partials/sidebar_tangerang" if branch(current_user, 23) %>
              <%= render "layouts/partials/sidebar_semarang" if branch(current_user, 8) %>
              <%= render "layouts/partials/sidebar_yogya" if branch(current_user, 10) %>
              <%= render "layouts/partials/sidebar_surabaya" if branch(current_user, 7) %>
              <%= render "layouts/partials/sidebar_bali" if branch(current_user, 4) %>
              <%= render "layouts/partials/sidebar_makasar" if branch(current_user, 19) %>
              <%= render "layouts/partials/sidebar_palembang" if branch(current_user, 11) %>
              <%= render "layouts/partials/sidebar_lampung" if branch(current_user, 13) %>
              <%= render "layouts/partials/sidebar_medan" if branch(current_user, 5) %>
              <%= render "layouts/partials/sidebar_pekanbaru" if branch(current_user, 20) %>
            </ul>
          </li>
          <li class="<%= 'active' if controller?('penjualan/direct') %>">
            <a href="#direct" title="Direct" data-toggle="collapse"> <em class="icon-people"></em> <span>Direct</span> </a>
            <ul id="direct" class="nav sidebar-subnav collapse">
              <li class="sidebar-subnav-header">
                Direct
              </li>
            </ul>
          </li>
          <li class="<%= 'active' if controller?('penjualan/project') %>">
            <a href="#project" title="Project" data-toggle="collapse"> <em class="icon-people"></em> <span>Project</span> </a>
            <ul id="project" class="nav sidebar-subnav collapse">
              <li class="sidebar-subnav-header">
                Project
              </li>
            </ul>
          </li>
          <li class="<%= 'active' if controller?('penjualan/modern') %>">
            <a href="#modern" title="Modern" data-toggle="collapse"> <em class="icon-people"></em> <span>Modern</span> </a>
            <ul id="modern" class="nav sidebar-subnav collapse">
              <li class="sidebar-subnav-header">
                Modern
              </li>
            </ul>
          </li>
          <li class="<%= 'active' if controller?('penjualan/uncategorized') %>">
            <a href="#uncategorized" title="Uncategorized" data-toggle="collapse"> <em class="icon-people"></em> <span>Uncategorized</span> </a>
            <ul id="uncategorized" class="nav sidebar-subnav collapse">
              <li class="sidebar-subnav-header">
                Uncategorized
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!--

      <li class="<%= 'active' if controller?('account_receivables') %>">
      <a href="#ar" title="Order" data-toggle="collapse"> <em class="fa fa-laptop"></em> <span><b>A/R</b></span> </a>
      <ul id="ar" class="nav sidebar-subnav collapse">
      <li class="sidebar-subnav-header">
      A/R
      </li>
      <li class="<%= 'active' if controller?('account_receivables') %>">
      <a href="#retail_ar" title="Retail AR" data-toggle="collapse"> <em class="icon-people"></em> <span>Retail</span> </a>
      <ul id="retail_ar" class="nav sidebar-subnav collapse">
      <li class="sidebar-subnav-header">
      Retail
      </li>
      <%= render "layouts/partials/ar/ar_bandung" if branch(current_user, 2) %>
      <%= render "layouts/partials/ar/ar_cirebon" if branch(current_user, 9) %>
      <%= render "layouts/partials/ar/ar_bekasi" if branch(current_user, 3) %>
      <%= render "layouts/partials/ar/ar_tangerang" if branch(current_user, 23) %>
      <%= render "layouts/partials/ar/ar_semarang" if branch(current_user, 8) %>
      <%= render "layouts/partials/ar/ar_yogya" if branch(current_user, 10) %>
      <%= render "layouts/partials/ar/ar_surabaya" if branch(current_user, 7) %>
      <%= render "layouts/partials/ar/ar_bali" if branch(current_user, 4) %>
      <%= render "layouts/partials/ar/ar_makasar" if branch(current_user, 19) %>
      <%= render "layouts/partials/ar/ar_palembang" if branch(current_user, 11) %>
      <%= render "layouts/partials/ar/ar_lampung" if branch(current_user, 13) %>
      <%= render "layouts/partials/ar/ar_medan" if branch(current_user, 5) %>
      <%= render "layouts/partials/ar/ar_pekanbaru" if branch(current_user, 20) %>
      </ul>
      </li>
      </ul>
      </li>
      -->

      <!-- END SA Project-->
      <% else %>
      <li class="<%= 'active' if controller?('order') %>">
        <a href="#order" title="Order" data-toggle="collapse"> <em class="fa fa-laptop"></em> <span><b>Order</b></span> </a>
        <ul id="order" class="nav sidebar-subnav collapse">
          <li class="sidebar-subnav-header">
            Order
          </li>
          <li class="<%= 'active' if controller?('order') %>">
            <a href="#retail_order" title="Retail Order" data-toggle="collapse"> <em class="icon-people"></em> <span>Retail</span> </a>
            <ul id="retail_order" class="nav sidebar-subnav collapse">
              <li class="sidebar-subnav-header">
                Retail
              </li>
              <%= render "layouts/partials/order/order_bandung" if branch(current_user, 2) %>
              <%= render "layouts/partials/order/order_cirebon" if branch(current_user, 9) %>
              <%= render "layouts/partials/order/order_tangerang" if branch(current_user, 23) %>
              <%= render "layouts/partials/order/order_semarang" if branch(current_user, 8) %>
              <%= render "layouts/partials/order/order_yogya" if branch(current_user, 10) %>
              <%= render "layouts/partials/order/order_surabaya" if branch(current_user, 7) %>
              <%= render "layouts/partials/order/order_bali" if branch(current_user, 4) %>
              <%= render "layouts/partials/order/order_makasar" if branch(current_user, 19) %>
              <%= render "layouts/partials/order/order_palembang" if branch(current_user, 11) %>
              <%= render "layouts/partials/order/order_lampung" if branch(current_user, 13) %>
              <%= render "layouts/partials/order/order_medan" if branch(current_user, 5) %>
              <%= render "layouts/partials/order/order_pekanbaru" if branch(current_user, 20) %>
            </ul>
          </li>
        </ul>
      </li>
      <li class="<%= 'active' if controller?('penjualan_salesman') %>">
        <a href="#penjualan_salesman" title="Penjualan Salesman" data-toggle="collapse"> <em class="fa fa-laptop"></em> <span><b>Sales</b></span> </a>
        <ul id="penjualan_salesman" class="nav sidebar-subnav collapse">
          <li class="sidebar-subnav-header">
            Penjualan
          </li>
          <li class="<%= 'active' if controller?('penjualan_salesman') && action?('elite') %>">
            <a href="/penjualan_salesman/elite" title="Elite"> <span>Elite</span> </a>
          </li>
          <li class="<%= 'active' if controller?('penjualan_salesman') && action?('lady') %>">
            <a href="/penjualan_salesman/lady" title="Lady"> <span>Lady</span> </a>
          </li>
          <li class="<%= 'active' if controller?('penjualan_salesman') && action?('serenity') %>">
            <a href="/penjualan_salesman/serenity" title="Serenity"> <span>Serenity</span> </a>
          </li>
          <li class="<%= 'active' if controller?('penjualan_salesman') && action?('royal') %>">
            <a href="/penjualan_salesman/royal" title="Royal"> <span>Royal</span> </a>
          </li>
        </ul>
      </li>
      <% end %>
      <li class="<%= 'active' if controller?('stock') %>">
        <a href="#stock" title="stock" data-toggle="collapse"> <em class="fa fa-folder-open-o"></em> <span><b>Stock</b></span> </a>
        <ul id="stock" class="nav sidebar-subnav collapse">
          <li class="sidebar-subnav-header">
            Stock
          </li>
          <%= render "layouts/partials/stock_pusat" %>
          <%= render "layouts/partials/stock_bandung" %>
          <%= render "layouts/partials/stock_cirebon" %>
          <%= render "layouts/partials/stock_bekasi" %>
          <%= render "layouts/partials/stock_tangerang" %>
          <%= render "layouts/partials/stock_semarang" %>
          <%= render "layouts/partials/stock_yogya" %>
          <%= render "layouts/partials/stock_bestari" %>
          <%= render "layouts/partials/stock_surabaya" %>
          <%= render "layouts/partials/stock_bali" %>
          <%= render "layouts/partials/stock_makasar" %>
          <%= render "layouts/partials/stock_palembang" %>
          <%= render "layouts/partials/stock_lampung" %>
          <%= render "layouts/partials/stock_medan" %>
          <%= render "layouts/partials/stock_pekanbaru" %>
        </ul>
      </li>
      <% if current_user.position == 'admin sales'%>
      <li class="<%= 'active' if controller?('sales_productivities') %>">
        <a href="#success" title="success" data-toggle="collapse"> <em class="fa fa-folder-open-o"></em> <span><b>Success Rate</b></span> </a>
        <ul id="success" class="nav sidebar-subnav collapse">
          <li class="sidebar-subnav-header">
            Stock
          </li>
          <li class="<%= 'active' if controller?('sales_productivities') && action?('index') %>">
            <a href="/sales_productivities/" title="Daily"> <span>Success Rate</span> </a>
          </li>
        </ul>
      </li>
      <% end %>
      <li>
        <%= link_to "Change your password", edit_user_registration_path %>
      </li>
      <!-- Iterates over all sidebar items-->
    </ul>
    <!-- END sidebar nav-->
  </nav>
</div>
<!-- END Sidebar (left)-->

<style type="text/css">
    .scrollable {
        height: 100%;
        overflow: auto;
    }
</style>