<li class="<%= 'active' if controller?('penjualan/surabaya') %>">
  <a href="#surabaya" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Jawa Timur</span> </a>
  <ul id="surabaya" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Jawa Timur
    </li>
    <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_customers') && action?('customer') %>">
      <a href="/penjualan/surabaya/surabaya_customers/customer" title="Customer"> <em class="icon-people"></em> <span>Customer</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_customers') && action?('customer_active') %>">
      <a href="/penjualan/surabaya/surabaya_customers/customer_active" title="Customer"> <em class="icon-people"></em> <span>Customer Active</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_recaps') && action?('recap') %>">
      <a href="/penjualan/surabaya/surabaya_recaps/recap" title="Recap"> <em class="icon-people"></em> <span>Recap</span></a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') %>">
      <a href="#surabaya-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="surabaya-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('daily') %>">
          <a href="/penjualan/surabaya/surabaya_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('weekly') %>">
          <a href="/penjualan/surabaya/surabaya_elites/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('monthly') %>">
          <a href="/penjualan/surabaya/surabaya_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/surabaya/surabaya_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('success_rate') %>">
          <a href="/penjualan/surabaya/surabaya_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('marketshare') %>">
          <a href="/penjualan/surabaya/surabaya_elites/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('customer_monthly') %>">
          <a href="penjualan/surabaya/surabaya_elites/customer_monthly" title="Marketshare"> <span>Customer Monthly</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_elites') && action?('yearly') %>">
          <a href="/penjualan/surabaya/surabaya_elites" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') %>">
      <a href="#surabaya-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="surabaya-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('daily') %>">
          <a href="/penjualan/surabaya/surabaya_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('weekly') %>">
          <a href="/penjualan/surabaya/surabaya_serenity/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('monthly') %>">
          <a href="/penjualan/surabaya/surabaya_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('sales_stock_rate') %>">
          <a href="/penjualan/surabaya/surabaya_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('success_rate') %>">
          <a href="/penjualan/surabaya/surabaya_serenity/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('marketshare') %>">
          <a href="/penjualan/surabaya/surabaya_serenity/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('customer_monthly') %>">
          <a href="penjualan/surabaya/surabaya_serenity/customer_monthly" title="Marketshare"> <span>Customer Monthly</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_serenity') && action?('yearly') %>">
          <a href="/penjualan/surabaya/serenity" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') %>">
      <a href="#surabaya-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="surabaya-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('daily') %>">
          <a href="/penjualan/surabaya/surabaya_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('weekly') %>">
          <a href="/penjualan/surabaya/surabaya_lady/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('monthly') %>">
          <a href="/penjualan/surabaya/surabaya_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/surabaya/surabaya_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('success_rate') %>">
          <a href="/penjualan/surabaya/surabaya_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('marketshare') %>">
          <a href="/penjualan/surabaya/surabaya_lady/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('customer_monthly') %>">
          <a href="penjualan/surabaya/surabaya_lady/customer_monthly" title="Marketshare"> <span>Customer Monthly</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_lady') && action?('yearly') %>">
          <a href="/penjualan/surabaya/surabaya_lady" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') %>">
      <a href="#surabaya-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="surabaya-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') && action?('daily') %>">
          <a href="/penjualan/surabaya/surabaya_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') && action?('weekly') %>">
          <a href="/penjualan/surabaya/surabaya_royal/weekly" title="Weekly"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') && action?('monthly') %>">
          <a href="/penjualan/surabaya/surabaya_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/surabaya/surabaya_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') && action?('success_rate') %>">
          <a href="/penjualan/surabaya/surabaya_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') && action?('marketshare') %>">
          <a href="/penjualan/surabaya/surabaya_royal/marketshare" title="Marketshare"> <span>Marketshare</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/surabaya/surabaya_royal') && action?('customer_monthly') %>">
          <a href="penjualan/surabaya/surabaya_royal/customer_monthly" title="Marketshare"> <span>Customer Monthly</span> </a>
        </li>
        <!-- <li class="<%= 'active' if controller?('penjualan/surabaya/royal') && action?('yearly') %>">
          <a href="/penjualan/surabaya/royal" title="Tahunan"> <span>Tahunan</span> </a>
        </li> -->
      </ul>
    </li>
  </ul>
</li>