<li class="<%= 'active' if controller?('penjualan/jember') %>">
  <a href="#jember" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Jember</span> </a>
  <ul id="jember" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Jember
    </li>
    <li class="<%= 'active' if controller?('penjualan/jember/jember_customers') && action?('customer') %>">
      <a href="/penjualan/jember/jember_customers/customer" title="Customer"> <em class="icon-people"></em> <span>Customer</span> </a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/jember/jember_recaps') && action?('recap') %>">
      <a href="/penjualan/jember/jember_recaps/recap" title="Recap"> <em class="icon-people"></em> <span>Recap</span></a>
    </li>
    <li class="<%= 'active' if controller?('penjualan/jember/jember_elites') %>">
      <a href="#jember-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="jember-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_elites') && action?('daily') %>">
          <a href="/penjualan/jember/jember_elites/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_elites') && action?('weekly') %>">
          <a href="/penjualan/jember/jember_elites/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_elites') && action?('monthly') %>">
          <a href="/penjualan/jember/jember_elites/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/jember/jember_elites') && action?('yearly') %>">
                  <a href="/penjualan/jember/jember_elites" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/jember/jember_serenity') %>">
      <a href="#jember-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="jember-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_serenity') && action?('daily') %>">
          <a href="/penjualan/jember/jember_serenity/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_serenity') && action?('weekly') %>">
          <a href="/penjualan/jember/jember_serenity/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_serenity') && action?('monthly') %>">
          <a href="/penjualan/jember/jember_serenity/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/jember/jember_serenity') && action?('yearly') %>">
                  <a href="/penjualan/jember/serenity" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/jember/jember_lady') %>">
      <a href="#jember-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="jember-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_lady') && action?('daily') %>">
          <a href="/penjualan/jember/jember_lady/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_lady') && action?('weekly') %>">
          <a href="/penjualan/jember/jember_lady/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_lady') && action?('monthly') %>">
          <a href="/penjualan/jember/jember_lady/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/jember/jember_lady') && action?('yearly') %>">
                  <a href="/penjualan/jember/jember_lady" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/jember/jember_royal') %>">
      <a href="#jember-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="jember-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_royal') && action?('daily') %>">
          <a href="/penjualan/jember/jember_royal/daily" title="Daily"> <span>Harian</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_royal') && action?('weekly') %>">
          <a href="/penjualan/jember/jember_royal/weekly" title="Mingguan"> <span>Mingguan</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/jember/jember_royal') && action?('monthly') %>">
          <a href="/penjualan/jember/jember_royal/monthly" title="Bulanan"> <span>Bulanan</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/jember/royal') && action?('yearly') %>">
                  <a href="/penjualan/jember/royal" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
  </ul>
</li>