<li class="<%= 'active' if controller?('penjualan/pekanbaru') %>">
  <a href="#pekanbaru" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Pekanbaru</span> </a>
  <ul id="pekanbaru" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      PEKANBARU
    </li>
    <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') %>">
      <a href="#pekanbaru-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="pekanbaru-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('recap') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_elites/recap" title="Recap"> <span>Recap All Brand</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('daily') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_elites/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('weekly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_elites/weekly" title="Mingguan"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('monthly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_elites/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_elites/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/bandung/bandung_elites') && action?('success_rate') %>">
          <a href="/penjualan/bandung/bandung_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('yearly') %>">
                  <a href="/penjualan/pekanbaru/pekanbaru_elites" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_serenity') %>">
      <a href="#pekanbaru-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="pekanbaru-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_serenity') && action?('recap') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_serenity/recap" title="Recap"> <span>Recap All Brand</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_serenity') && action?('daily') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_serenity/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_serenity') && action?('weekly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_serenity/weekly" title="Mingguan"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_serenity') && action?('monthly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_serenity/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('sales_stock_rate') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_serenity/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_elites') && action?('success_rate') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_elites/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_serenity') && action?('yearly') %>">
                  <a href="/penjualan/pekanbaru/serenity" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') %>">
      <a href="#pekanbaru-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="pekanbaru-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') && action?('recap') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_lady/recap" title="Recap"> <span>Recap All Brand</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') && action?('daily') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_lady/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') && action?('weekly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_lady/weekly" title="Mingguan"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') && action?('monthly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_lady/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') && action?('sales_stock_rate') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_lady/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') && action?('success_rate') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_lady/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
        <!--
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_lady') && action?('yearly') %>">
                  <a href="/penjualan/pekanbaru/pekanbaru_lady" title="Tahunan"> <span>Tahunan</span> </a>
                </li>-->
        
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_royal') %>">
      <a href="#pekanbaru-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="pekanbaru-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_royal') && action?('recap') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_royal/recap" title="Recap"> <span>Recap All Brand</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_royal') && action?('daily') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_royal/daily" title="Daily"> <span>Daily</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_royal') && action?('weekly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_royal/weekly" title="Mingguan"> <span>Weekly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_royal') && action?('monthly') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_royal/monthly" title="Monthly"> <span>Monthly</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_royal') && action?('sales_stock_rate') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_royal/sales_stock_rate" title="Stock Sales Rate"> <span>Stock Sales Ratio</span> </a>
        </li>
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_royal') && action?('success_rate') %>">
          <a href="/penjualan/pekanbaru/pekanbaru_royal/success_rate" title="Success Rate"> <span>Success Rate</span> </a>
        </li>
       <!--
        <li class="<%= 'active' if controller?('penjualan/pekanbaru/royal') && action?('yearly') %>">
                 <a href="/penjualan/pekanbaru/royal" title="Tahunan"> <span>Tahunan</span> </a>
               </li>-->
       
      </ul>
    </li>
    <li class="<%= 'active' if controller?('penjualan/pekanbaru/pekanbaru_customers') && action?('customer') %>">
      <a href="/penjualan/pekanbaru/pekanbaru_customers/customer" title="Customer"> <em class="icon-people"></em> <span>Customer</span> </a>
    </li>
  </ul>
</li>