<li class="<%= 'active' if controller?('order/tangerang') %>">
  <a href="#order-tangerang" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Tangerang</span> </a>
  <ul id="order-tangerang" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Tangerang
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_elites') %>">
      <a href="#order-tangerang-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-tangerang-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_elites') && action?('order_normal') %>">
          <a href="/order/tangerang/tangerang_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_elites') && action?('order_clearence') %>">
          <a href="/order/tangerang/tangerang_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_elites') && action?('order_display') %>">
          <a href="/order/tangerang/tangerang_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_serenity') %>">
      <a href="#order-tangerang-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-tangerang-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_serenity') && action?('order_normal') %>">
          <a href="/order/tangerang/tangerang_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_serenity') && action?('order_clearence') %>">
          <a href="/order/tangerang/tangerang_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_serenity') && action?('order_display') %>">
          <a href="/order/tangerang/tangerang_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_lady') %>">
      <a href="#order-tangerang-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-tangerang-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_lady') && action?('order_normal') %>">
          <a href="/order/tangerang/tangerang_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_lady') && action?('order_clearence') %>">
          <a href="/order/tangerang/tangerang_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/tangerang_lady') && action?('order_display') %>">
          <a href="/order/tangerang/tangerang_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_royal') %>">
      <a href="#order-tangerang-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-tangerang-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/order_royal') && action?('order_normal') %>">
          <a href="/order/tangerang/tangerang_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/order_royal') && action?('order_clearence') %>">
          <a href="/order/tangerang/tangerang_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/tangerang/order_royal') && action?('order_display') %>">
          <a href="/order/tangerang/tangerang_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>