<li class="<%= 'active' if controller?('order/bekasi') %>">
  <a href="#bks-order" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Bekasi</span> </a>
  <ul id="bks-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      BEKASI
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_elites') %>">
      <a href="#bks-order-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="bks-order-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('order/bekasi/bekasi_elites') && action?('order') %>">
          <a href="/order/bekasi/bekasi_elites/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_serenity') %>">
      <a href="#bks-order-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="bks-order-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/bekasi/bekasi_serenity') && action?('order') %>">
          <a href="/order/bekasi/bekasi_serenity/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_lady') %>">
      <a href="#bks-order-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="bks-order-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/bekasi/bekasi_lady') && action?('order') %>">
          <a href="/order/bekasi/bekasi_lady/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_royal') %>">
      <a href="#bks-order-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="bks-order-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/bekasi/bekasi_royal') && action?('order') %>">
          <a href="/order/bekasi/bekasi_royal/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
  </ul>
</li>