<li class="<%= 'active' if controller?('order/jember') %>">
  <a href="#jbr-order" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Jember</span> </a>
  <ul id="jbr-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      JEMBER
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_elites') %>">
      <a href="#jbr-order-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="jbr-order-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_elites') && action?('order') %>">
          <a href="/order/jember/jember_elites/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_serenity') %>">
      <a href="#jbr-order-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="jbr-order-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_serenity') && action?('order') %>">
          <a href="/order/jember/jember_serenity/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_lady') %>">
      <a href="#jbr-order-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="jbr-order-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_lady') && action?('order') %>">
          <a href="/order/jember/jember_lady/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_royal') %>">
      <a href="#jbr-order-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="jbr-order-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_royal') && action?('order') %>">
          <a href="/order/jember/jember_royal/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
  </ul>
</li>