<li class="<%= 'active' if controller?('order/tangerang') %>">
  <a href="#tng-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Tangerang</span> </a>
  <ul id="tng-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      TANGERANG
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_elites') %>">
      <li class="<%= 'active' if controller?('order/tangerang/tangerang_elites') && action?('order') %>">
          <a href="/order/tangerang/tangerang_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_serenity') %>">
      <li class="<%= 'active' if controller?('order/tangerang/tangerang_serenity') && action?('order') %>">
          <a href="/order/tangerang/tangerang_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_lady') %>">
      <li class="<%= 'active' if controller?('order/tangerang/tangerang_lady') && action?('order') %>">
          <a href="/order/tangerang/tangerang_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/tangerang/tangerang_royal') %>">
      <li class="<%= 'active' if controller?('order/tangerang/tangerang_royal') && action?('order') %>">
          <a href="/order/tangerang/tangerang_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>