<li class="<%= 'active' if controller?('order/cirebon') %>">
  <a href="#crb-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Cirebon</span> </a>
  <ul id="crb-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      CIREBON
    </li>
    <li class="<%= 'active' if controller?('order/cirebon/cirebon_elites') %>">
      <li class="<%= 'active' if controller?('order/cirebon/cirebon_elites') && action?('order') %>">
          <a href="/order/cirebon/cirebon_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/cirebon/cirebon_serenity') %>">
      <li class="<%= 'active' if controller?('order/cirebon/cirebon_serenity') && action?('order') %>">
          <a href="/order/cirebon/cirebon_serenity/order" title="Order">  <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/cirebon/cirebon_lady') %>">
      <li class="<%= 'active' if controller?('order/cirebon/cirebon_lady') && action?('order') %>">
          <a href="/order/cirebon/cirebon_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/cirebon/cirebon_royal') %>">
      <li class="<%= 'active' if controller?('order/cirebon/cirebon_royal') && action?('order') %>">
          <a href="/order/cirebon/cirebon_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>