<li class="<%= 'active' if controller?('order/makasar') %>">
  <a href="#order-makasar" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Makassar</span> </a>
  <ul id="order-makasar" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Makassar
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_elites') %>">
      <a href="#order-makasar-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-makasar-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_elites') && action?('order_normal') %>">
          <a href="/order/makasar/makasar_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_elites') && action?('order_clearence') %>">
          <a href="/order/makasar/makasar_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_elites') && action?('order_display') %>">
          <a href="/order/makasar/makasar_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') %>">
      <a href="#order-makasar-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-makasar-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') && action?('order_normal') %>">
          <a href="/order/makasar/makasar_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') && action?('order_clearence') %>">
          <a href="/order/makasar/makasar_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') && action?('order_display') %>">
          <a href="/order/makasar/makasar_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_lady') %>">
      <a href="#order-makasar-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-makasar-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_lady') && action?('order_normal') %>">
          <a href="/order/makasar/makasar_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_lady') && action?('order_clearence') %>">
          <a href="/order/makasar/makasar_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_lady') && action?('order_display') %>">
          <a href="/order/makasar/makasar_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_royal') %>">
      <a href="#order-makasar-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-makasar-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/makasar/order_royal') && action?('order_normal') %>">
          <a href="/order/makasar/makasar_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/order_royal') && action?('order_clearence') %>">
          <a href="/order/makasar/makasar_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/makasar/order_royal') && action?('order_display') %>">
          <a href="/order/makasar/makasar_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>