<li class="<%= 'active' if controller?('order/pekanbaru') %>">
  <a href="#pkb-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Pekanbaru</span> </a>
  <ul id="pkb-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      PEKANBARU
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_elites') %>">
      <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_elites') && action?('order') %>">
          <a href="/order/pekanbaru/pekanbaru_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_serenity') %>">
      <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_serenity') && action?('order') %>">
          <a href="/order/pekanbaru/pekanbaru_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_lady') %>">
      <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_lady') && action?('order') %>">
          <a href="/order/pekanbaru/pekanbaru_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_royal') %>">
      <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_royal') && action?('order') %>">
          <a href="/order/pekanbaru/pekanbaru_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>