<li class="<%= 'active' if controller?('order/bekasi') %>">
  <a href="#bks-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Bekasi</span> </a>
  <ul id="bks-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      BEKASI
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_elites') %>">
      <li class="<%= 'active' if controller?('order/bekasi/bekasi_elites') && action?('order') %>">
          <a href="/order/bekasi/bekasi_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_serenity') %>">
      <li class="<%= 'active' if controller?('order/bekasi/bekasi_serenity') && action?('order') %>">
          <a href="/order/bekasi/bekasi_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_lady') %>">
      <li class="<%= 'active' if controller?('order/bekasi/bekasi_lady') && action?('order') %>">
          <a href="/order/bekasi/bekasi_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/bekasi/bekasi_royal') %>">
      <li class="<%= 'active' if controller?('order/bekasi/bekasi_royal') && action?('order') %>">
          <a href="/order/bekasi/bekasi_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>