<li class="<%= 'active' if controller?('order/yogya') %>">
  <a href="#yogya-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Yogya</span> </a>
  <ul id="yogya-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      YOGYA
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_elites') %>">
      <li class="<%= 'active' if controller?('order/yogya/yogya_elites') && action?('order') %>">
          <a href="/order/yogya/yogya_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_serenity') %>">
      <li class="<%= 'active' if controller?('order/yogya/yogya_serenity') && action?('order') %>">
          <a href="/order/yogya/yogya_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_lady') %>">
      <li class="<%= 'active' if controller?('order/yogya/yogya_lady') && action?('order') %>">
          <a href="/order/yogya/yogya_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_royal') %>">
      <li class="<%= 'active' if controller?('order/yogya/yogya_royal') && action?('order') %>">
          <a href="/order/yogya/yogya_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>