<li class="<%= 'active' if controller?('order/semarang') %>">
  <a href="#order-semarang" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Semarang</span> </a>
  <ul id="order-semarang" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Semarang
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_elites') %>">
      <a href="#order-semarang-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-semarang-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_elites') && action?('order_normal') %>">
          <a href="/order/semarang/semarang_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_elites') && action?('order_clearence') %>">
          <a href="/order/semarang/semarang_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_elites') && action?('order_display') %>">
          <a href="/order/semarang/semarang_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_serenity') %>">
      <a href="#order-semarang-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-semarang-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_serenity') && action?('order_normal') %>">
          <a href="/order/semarang/semarang_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_serenity') && action?('order_clearence') %>">
          <a href="/order/semarang/semarang_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_serenity') && action?('order_display') %>">
          <a href="/order/semarang/semarang_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_lady') %>">
      <a href="#order-semarang-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-semarang-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_lady') && action?('order_normal') %>">
          <a href="/order/semarang/semarang_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_lady') && action?('order_clearence') %>">
          <a href="/order/semarang/semarang_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/semarang_lady') && action?('order_display') %>">
          <a href="/order/semarang/semarang_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_royal') %>">
      <a href="#order-semarang-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-semarang-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/semarang/order_royal') && action?('order_normal') %>">
          <a href="/order/semarang/semarang_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/order_royal') && action?('order_clearence') %>">
          <a href="/order/semarang/semarang_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/semarang/order_royal') && action?('order_display') %>">
          <a href="/order/semarang/semarang_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>