<li class="<%= 'active' if controller?('order/bali') %>">
  <a href="#order-bali" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Bali</span> </a>
  <ul id="order-bali" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Bali
    </li>
    <li class="<%= 'active' if controller?('order/bali/bali_elites') %>">
      <a href="#order-bali-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-bali-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_elites') && action?('order_normal') %>">
          <a href="/order/bali/bali_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_elites') && action?('order_clearence') %>">
          <a href="/order/bali/bali_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_elites') && action?('order_display') %>">
          <a href="/order/bali/bali_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/bali/bali_serenity') %>">
      <a href="#order-bali-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-bali-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_serenity') && action?('order_normal') %>">
          <a href="/order/bali/bali_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_serenity') && action?('order_clearence') %>">
          <a href="/order/bali/bali_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_serenity') && action?('order_display') %>">
          <a href="/order/bali/bali_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/bali/bali_lady') %>">
      <a href="#order-bali-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-bali-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_lady') && action?('order_normal') %>">
          <a href="/order/bali/bali_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_lady') && action?('order_clearence') %>">
          <a href="/order/bali/bali_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/bali_lady') && action?('order_display') %>">
          <a href="/order/bali/bali_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/bali/bali_royal') %>">
      <a href="#order-bali-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-bali-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/bali/order_royal') && action?('order_normal') %>">
          <a href="/order/bali/bali_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/order_royal') && action?('order_clearence') %>">
          <a href="/order/bali/bali_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/bali/order_royal') && action?('order_display') %>">
          <a href="/order/bali/bali_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>