<li class="<%= 'active' if controller?('order/surabaya') %>">
  <a href="#sby-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Surabaya</span> </a>
  <ul id="sby-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      SURABAYA
    </li>
    <li class="<%= 'active' if controller?('order/surabaya/surabaya_elites') %>">
      <li class="<%= 'active' if controller?('order/surabaya/surabaya_elites') && action?('order') %>">
          <a href="/order/surabaya/surabaya_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/surabaya/surabaya_serenity') %>">
       <li class="<%= 'active' if controller?('order/surabaya/surabaya_serenity') && action?('order') %>">
          <a href="/order/surabaya/surabaya_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/surabaya/surabaya_lady') %>">
      <li class="<%= 'active' if controller?('order/surabaya/surabaya_lady') && action?('order') %>">
          <a href="/order/surabaya/surabaya_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/surabaya/surabaya_royal') %>">
      <li class="<%= 'active' if controller?('order/surabaya/surabaya_royal') && action?('order') %>">
          <a href="/order/surabaya/surabaya_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>