<li class="<%= 'active' if controller?('order/pekanbaru') %>">
  <a href="#order-pekanbaru" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Pekanbaru</span> </a>
  <ul id="order-pekanbaru" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Pekanbaru
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_elites') %>">
      <a href="#order-pekanbaru-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-pekanbaru-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_elites') && action?('order_normal') %>">
          <a href="/order/pekanbaru/pekanbaru_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_elites') && action?('order_clearence') %>">
          <a href="/order/pekanbaru/pekanbaru_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_elites') && action?('order_display') %>">
          <a href="/order/pekanbaru/pekanbaru_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_serenity') %>">
      <a href="#order-pekanbaru-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-pekanbaru-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_serenity') && action?('order_normal') %>">
          <a href="/order/pekanbaru/pekanbaru_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_serenity') && action?('order_clearence') %>">
          <a href="/order/pekanbaru/pekanbaru_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_serenity') && action?('order_display') %>">
          <a href="/order/pekanbaru/pekanbaru_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_lady') %>">
      <a href="#order-pekanbaru-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-pekanbaru-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_lady') && action?('order_normal') %>">
          <a href="/order/pekanbaru/pekanbaru_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_lady') && action?('order_clearence') %>">
          <a href="/order/pekanbaru/pekanbaru_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_lady') && action?('order_display') %>">
          <a href="/order/pekanbaru/pekanbaru_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/pekanbaru/pekanbaru_royal') %>">
      <a href="#order-pekanbaru-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-pekanbaru-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/order_royal') && action?('order_normal') %>">
          <a href="/order/pekanbaru/pekanbaru_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/order_royal') && action?('order_clearence') %>">
          <a href="/order/pekanbaru/pekanbaru_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/pekanbaru/order_royal') && action?('order_display') %>">
          <a href="/order/pekanbaru/pekanbaru_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>