<li class="<%= 'active' if controller?('order/semarang') %>">
  <a href="#smg-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Semarang</span> </a>
  <ul id="smg-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      SEMARANG
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_elites') %>">
      <li class="<%= 'active' if controller?('order/semarang/semarang_elites') && action?('order') %>">
          <a href="/order/semarang/semarang_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_serenity') %>">
      <li class="<%= 'active' if controller?('order/semarang/semarang_serenity') && action?('order') %>">
          <a href="/order/semarang/semarang_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_lady') %>">
      <li class="<%= 'active' if controller?('order/semarang/semarang_lady') && action?('order') %>">
          <a href="/order/semarang/semarang_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/semarang/semarang_royal') %>">
      <li class="<%= 'active' if controller?('order/semarang/semarang_royal') && action?('order') %>">
          <a href="/order/semarang/semarang_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>