<li class="<%= 'active' if controller?('order/palembang') %>">
  <a href="#plb-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Palembang</span> </a>
  <ul id="plb-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      PALEMBANG
    </li>
    <li class="<%= 'active' if controller?('order/palembang/palembang_elites') %>">
      <li class="<%= 'active' if controller?('order/palembang/palembang_elites') && action?('order') %>">
          <a href="/order/palembang/palembang_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/palembang/palembang_serenity') %>">
      <li class="<%= 'active' if controller?('order/palembang/palembang_serenity') && action?('order') %>">
          <a href="/order/palembang/palembang_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/palembang/palembang_lady') %>">
      <li class="<%= 'active' if controller?('order/palembang/palembang_lady') && action?('order') %>">
          <a href="/order/palembang/palembang_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/palembang/palembang_royal') %>">
      <li class="<%= 'active' if controller?('order/palembang/palembang_royal') && action?('order') %>">
          <a href="/order/palembang/palembang_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>