<li class="<%= 'active' if controller?('order/makasar') %>">
  <a href="#mks-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Makasar</span> </a>
  <ul id="mks-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      MAKASAR
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_elites') %>">
      <li class="<%= 'active' if controller?('order/makasar/makasar_elites') && action?('order') %>">
          <a href="/order/makasar/makasar_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') %>">
      <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') && action?('order') %>">
          <a href="/order/makasar/makasar_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_lady') %>">
      <li class="<%= 'active' if controller?('order/makasar/makasar_lady') && action?('order') %>">
          <a href="/order/makasar/makasar_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_royal') %>">
      <li class="<%= 'active' if controller?('order/makasar/makasar_royal') && action?('order') %>">
          <a href="/order/makasar/makasar_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>