<li class="<%= 'active' if controller?('order/lampung') %>">
  <a href="#lpg-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lampung</span> </a>
  <ul id="lpg-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      LAMPUNG
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_elites') %>">
      <li class="<%= 'active' if controller?('order/lampung/lampung_elites') && action?('order') %>">
          <a href="/order/lampung/lampung_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_serenity') %>">
      <li class="<%= 'active' if controller?('order/lampung/lampung_serenity') && action?('order') %>">
          <a href="/order/lampung/lampung_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_lady') %>">
      <li class="<%= 'active' if controller?('order/lampung/lampung_lady') && action?('order') %>">
          <a href="/order/lampung/lampung_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_royal') %>">
      <li class="<%= 'active' if controller?('order/lampung/lampung_royal') && action?('order') %>">
          <a href="/order/lampung/lampung_royal/order" title="Order"><em class="icon-chart"></em> <span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>