<li class="<%= 'active' if controller?('order/medan') %>">
  <a href="#mdn-order" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Medan</span> </a>
  <ul id="mdn-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      MEDAN
    </li>
    <li class="<%= 'active' if controller?('order/medan/medan_elites') %>">
      <li class="<%= 'active' if controller?('order/medan/medan_elites') && action?('order') %>">
          <a href="/order/medan/medan_elites/order" title="Order"> <em class="icon-chart"></em><span>Elite</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/medan/medan_serenity') %>">
      <li class="<%= 'active' if controller?('order/medan/medan_serenity') && action?('order') %>">
          <a href="/order/medan/medan_serenity/order" title="Order"> <em class="icon-chart"></em><span>Serenity</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/medan/medan_lady') %>">
      <li class="<%= 'active' if controller?('order/medan/medan_lady') && action?('order') %>">
          <a href="/order/medan/medan_lady/order" title="Order"> <em class="icon-chart"></em><span>Lady</span> </a>
        </li>
    </li>
    <li class="<%= 'active' if controller?('order/medan/medan_royal') %>">
      <li class="<%= 'active' if controller?('order/medan/medan_royal') && action?('order') %>">
          <a href="/order/medan/medan_royal/order" title="Order"> <em class="icon-chart"></em><span>Royal</span> </a>
        </li>
    </li>
  </ul>
</li>