<li class="<%= 'active' if controller?('order/yogya') %>">
  <a href="#order-yogya" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Yogya</span> </a>
  <ul id="order-yogya" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Yogya
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_elites') %>">
      <a href="#order-yogya-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-yogya-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_elites') && action?('order_normal') %>">
          <a href="/order/yogya/yogya_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_elites') && action?('order_clearence') %>">
          <a href="/order/yogya/yogya_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_elites') && action?('order_display') %>">
          <a href="/order/yogya/yogya_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_serenity') %>">
      <a href="#order-yogya-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-yogya-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_serenity') && action?('order_normal') %>">
          <a href="/order/yogya/yogya_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_serenity') && action?('order_clearence') %>">
          <a href="/order/yogya/yogya_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_serenity') && action?('order_display') %>">
          <a href="/order/yogya/yogya_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_lady') %>">
      <a href="#order-yogya-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-yogya-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_lady') && action?('order_normal') %>">
          <a href="/order/yogya/yogya_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_lady') && action?('order_clearence') %>">
          <a href="/order/yogya/yogya_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/yogya_lady') && action?('order_display') %>">
          <a href="/order/yogya/yogya_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/yogya/yogya_royal') %>">
      <a href="#order-yogya-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-yogya-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/yogya/order_royal') && action?('order_normal') %>">
          <a href="/order/yogya/yogya_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/order_royal') && action?('order_clearence') %>">
          <a href="/order/yogya/yogya_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/yogya/order_royal') && action?('order_display') %>">
          <a href="/order/yogya/yogya_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>