<li class="<%= 'active' if controller?('order/makasar') %>">
  <a href="#mks-order" title="Level 1" data-toggle="collapse"> <em class="icon-map"></em> <span>Makasar</span> </a>
  <ul id="mks-order" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      MAKASAR
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_elites') %>">
      <a href="#mks-order-elite" title="Elite" data-toggle="collapse"> <em class="icon-chart"></em> <span>Elite</span> </a>
      <ul id="mks-order-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          ELITE
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_elites') && action?('order') %>">
          <a href="/order/makasar/makasar_elites/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') %>">
      <a href="#mks-order-serenity" title="Serenity" data-toggle="collapse"> <em class="icon-chart"></em> <span>Serenity</span> </a>
      <ul id="mks-order-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_serenity') && action?('order') %>">
          <a href="/order/makasar/makasar_serenity/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_lady') %>">
      <a href="#mks-order-lady" title="Lady" data-toggle="collapse"> <em class="icon-chart"></em> <span>Lady</span> </a>
      <ul id="mks-order-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_lady') && action?('order') %>">
          <a href="/order/makasar/makasar_lady/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/makasar/makasar_royal') %>">
      <a href="#mks-order-royal" title="Royal" data-toggle="collapse"> <em class="icon-chart"></em> <span>Royal</span> </a>
      <ul id="mks-order-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/makasar/makasar_royal') && action?('order') %>">
          <a href="/order/makasar/makasar_royal/order" title="Order"> <span>Order</span> </a>
        </li>
      </ul>
    </li>
  </ul>
</li>