<li class="<%= 'active' if controller?('order/jember') %>">
  <a href="#order-jember" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Jember</span> </a>
  <ul id="order-jember" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Jember
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_elites') %>">
      <a href="#order-jember-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-jember-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_elites') && action?('order_normal') %>">
          <a href="/order/jember/jember_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_elites') && action?('order_clearence') %>">
          <a href="/order/jember/jember_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_elites') && action?('order_display') %>">
          <a href="/order/jember/jember_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_serenity') %>">
      <a href="#order-jember-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-jember-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_serenity') && action?('order_normal') %>">
          <a href="/order/jember/jember_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_serenity') && action?('order_clearence') %>">
          <a href="/order/jember/jember_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_serenity') && action?('order_display') %>">
          <a href="/order/jember/jember_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_lady') %>">
      <a href="#order-jember-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-jember-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_lady') && action?('order_normal') %>">
          <a href="/order/jember/jember_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_lady') && action?('order_clearence') %>">
          <a href="/order/jember/jember_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/jember_lady') && action?('order_display') %>">
          <a href="/order/jember/jember_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/jember/jember_royal') %>">
      <a href="#order-jember-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-jember-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/jember/order_royal') && action?('order_normal') %>">
          <a href="/order/jember/jember_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/order_royal') && action?('order_clearence') %>">
          <a href="/order/jember/jember_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/jember/order_royal') && action?('order_display') %>">
          <a href="/order/jember/jember_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>