<li class="<%= 'active' if controller?('order/lampung') %>">
  <a href="#order-lampung" title="Level 1" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lampung</span> </a>
  <ul id="order-lampung" class="nav sidebar-subnav collapse">
    <li class="sidebar-subnav-header">
      Lampung
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_elites') %>">
      <a href="#order-lampung-elite" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Elite</span> </a>
      <ul id="order-lampung-elite" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Elite
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_elites') && action?('order_normal') %>">
          <a href="/order/lampung/lampung_elites/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_elites') && action?('order_clearence') %>">
          <a href="/order/lampung/lampung_elites/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_elites') && action?('order_display') %>">
          <a href="/order/lampung/lampung_elites/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_serenity') %>">
      <a href="#order-lampung-serenity" title="Elite" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Serenity</span> </a>
      <ul id="order-lampung-serenity" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Serenity
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_serenity') && action?('order_normal') %>">
          <a href="/order/lampung/lampung_serenity/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_serenity') && action?('order_clearence') %>">
          <a href="/order/lampung/lampung_serenity/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_serenity') && action?('order_display') %>">
          <a href="/order/lampung/lampung_serenity/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_lady') %>">
      <a href="#order-lampung-lady" title="Lady" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Lady</span> </a>
      <ul id="order-lampung-lady" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Lady
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_lady') && action?('order_normal') %>">
          <a href="/order/lampung/lampung_lady/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_lady') && action?('order_clearence') %>">
          <a href="/order/lampung/lampung_lady/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/lampung_lady') && action?('order_display') %>">
          <a href="/order/lampung/lampung_lady/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    <li class="<%= 'active' if controller?('order/lampung/lampung_royal') %>">
      <a href="#order-lampung-royal" title="Royal" data-toggle="collapse"> <em class="fa fa-angle-right"></em> <span>Royal</span> </a>
      <ul id="order-lampung-royal" class="nav sidebar-subnav collapse">
        <li class="sidebar-subnav-header">
          Royal
        </li>
        <li class="<%= 'active' if controller?('order/lampung/order_royal') && action?('order_normal') %>">
          <a href="/order/lampung/lampung_royal/order_normal" title="Normal"> <span>Normal</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/order_royal') && action?('order_clearence') %>">
          <a href="/order/lampung/lampung_royal/order_clearence" title="Clearance"> <span>Clearance</span> </a>
        </li>
        <li class="<%= 'active' if controller?('order/lampung/order_royal') && action?('order_display') %>">
          <a href="/order/lampung/lampung_royal/order_display" title="Display"> <span>Display</span> </a>
        </li>
      </ul>
    </li>
    
  </ul>
</li>